.App {
  text-align: center;
}

.App-header {
  background: url(./bkgCat.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #271500;
  ;
}

.select {
  display: block;
  font-size: 2rem;
  padding: 0 1rem;
  color: bisque;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  padding: .6em 0 .3em 0;
  min-width: 40%; 
  box-sizing: border-box;
  margin: 2rem auto 0 auto;
  border: 1px solid #271500;
  box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #271500;
  background-image: linear-gradient(to bottom, #271500 0%,rgb(105, 58, 1) 100%);
}

.select:hover {
  background-color: #271500;
}

.select:focus {
  background-color: #271500;
  box-shadow: 0 0 1px 3px #271500;
  outline: none;
  color: bisque;
}

img {
  max-height: 30vh;
  max-width: 50%;
  object-fit: cover;
  border: 1rem dashed #271500;
  animation: borderFlash 1s linear infinite;
}

@keyframes borderFlash {
  0% {
    border-color: 271500;
  }
  50%{
    border-color: #ad610a;
  }
  100% {
    border-color: 271500;
  }	
}

iframe {
  border: 1rem dashed rgb(219, 38, 38);
}

.frame {
  background-color: rgb(245, 245, 245, 0.9);
  border: 5px solid rgb(105, 58, 1);
  min-width: 75vw;
  margin: 1rem auto 2rem auto;;
}

.lose {
  color: rgb(219, 38, 38);
  /* text-decoration: underline; */
  background-color: rgb(245, 245, 245, 0.9);
  border-radius: 0.5rem;
  border: 5px solid rgb(219, 38, 38)
}

progress[value] {
  min-width: 40vw;
  min-height: 2.5rem;
  border: 10px solid black;
  border-radius: 10px;
  margin: 1.5rem
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

    
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

html {
  font-size:20px;
  margin:0;
  background: #0c0207;
  }
.marco {
  color: whitesmoke;
  text-align: center;
  font-weight: 900;
  width: 1325px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 2em;
  }

.cielo {
  border-radius: 16px;
  width: 1325px;
  height: 500px;
  background: linear-gradient(to bottom,  #0B4C5F 0%,#04B4AE 52%,#0c0207 100%); 
  position: absolute;
  z-index: -30;
  top: 0;
  margin-top: 2em;
  }

.edificios {
  background: url('http://evasantos.com/ilustraciones/gatoCity/edificiosOne.svg');
  height: 500px; 
  width: 1325px;
  z-index: -10;
  top: 6.5em;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  -webkit-animation: animar_edificios 120s linear infinite;
  -ms-animation: animar_edificios 120s linear infinite;
  -moz-animation: animar_edificios 120s linear infinite;
  position: absolute;
  }


 @keyframes  animar_edificios {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
  }
  @-webkit-keyframes  animar_edificios {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
  }
  @-ms-keyframes  animar_edificios {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
  }
  @-moz-keyframes  animar_edificios {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
  }
 
.luna {
  width: 6em;
  height: 6em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #F7F8E0;
  -webkit-box-shadow: 30px 10px 0 #F7F8E0;
  box-shadow: 30px 10px 0 #F7F8E0;
  margin-top: 1em;
  margin-left: 50%;
  position: absolute;
  z-index: -19;
  }

.muro{
  height: 23em;
  width: 100%;
  background: -moz-linear-gradient(top,  #416663 0%, #0c0207 19%); 
  background: -webkit-linear-gradient(top,  #416663 0%,#0c0207 19%); 
  background: linear-gradient(to bottom,  #416663 0%,#0c0207 19%); 
  bottom:0px; 
  }

.gato{
  background: url('http://evasantos.com/ilustraciones/gatoCity/gatito.svg');
  height: 297px; 
  width: 507.5px;
  margin-top: 2em;
  margin-left: 2em;
  z-index: 10;
  -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
  -moz-animation: sprite-animation 1.2s steps(16,end) infinite; 
  -ms-animation: sprite-animation 1.2s steps(16,end) infinite; 
  animation: sprite-animation 1.2s steps(16,end) infinite;
  }

@-webkit-keyframes sprite-animation { 
      from { background-position: 0 0; }
      to { background-position: -8120px 0; } 
  }

@-ms-keyframes sprite-animation { 
      from { background-position: 0 0; }
      to { background-position: -8120px 0; }
  }

@-moz-keyframes sprite-animation { 
      from { background-position: 0 0; }
      to { background-position: -8120px 0; }
  }

@keyframes sprite-animation { 
      from { background-position: 0 0; }
      to { background-position: -8120px 0; }
  }
  
  body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }

  .playBtn {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
    padding: 4px;
    margin: 0.5rem 3rem 3rem 3rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    min-width: auto;
    text-align: center;
    outline: none;
    transition: all .1s ease;
    padding: 0 2.5rem;
  }
  
  .playBtn:active {
      box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
      position: relative;
      top: 6px;
  }

  .playBtn:disabled {
    background-color: rgb(155, 154, 154);
    box-shadow: 0px 3px 0px rgb(95, 94, 94), 0px 3px 6px rgba(0,0,0,.9);
  }

  body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }

.feedBtn {
  position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  padding: 4px;
  margin: 0.5rem 3rem 3rem 3rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	min-width: auto;
  text-align: center;
  outline: none;
  transition: all .1s ease;
  padding: 0 2.5rem;
}

.feedBtn:active {
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.feedBtn:disabled {
  background-color: rgb(155, 154, 154);
  box-shadow: 0px 3px 0px rgb(95, 94, 94), 0px 3px 6px rgba(0,0,0,.9);
}

.vetBtn {
  position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  padding: 4px;
  margin: 0.5rem 3rem 3rem 3rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	min-width: auto;
  text-align: center;
  outline: none;
  transition: all .1s ease;
  padding: 0 2.5rem;
}

.vetBtn:active {
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.vetBtn:disabled {
  background-color: rgb(155, 154, 154);
  box-shadow: 0px 3px 0px rgb(95, 94, 94), 0px 3px 6px rgba(0,0,0,.9);
}

.btnFlex {
  display: flex;
  justify-content: center;
}